{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#with @root.page.componentVersion}}
    <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    {{/with}}

    <ul class="versions">
      {{#each @root.page.versions}}
      <li class="version
        {{~#if (eq this.version @root.page.componentVersion.version)}} is-current{{/if~}}
        {{~#if (eq this.version @root.page.component.latestVersion.version)}} is-latest{{/if}}">
        <a href="{{{relativize url}}}">{{displayVersion}}</a>
      </li>
      {{/each}}
    </ul>

{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}
